body { background: #812fee; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 56px; display: flex; }
.block-order-0 { color: #4a347; font-size: 16px; margin-bottom: 5px; }
.block-config-1 { color: #23ab7b; font-size: 18px; margin-bottom: 5px; }
.block-session-2 { color: #b731a1; font-size: 20px; margin-bottom: 5px; }
.block-search-3 { color: #4aae60; font-size: 18px; margin-bottom: 5px; }
.block-invoice-4 { color: #27947b; font-size: 20px; margin-bottom: 5px; }